.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}

.movie-list .movie-card {
    max-width: 20rem;
}

.movie-list-empty {
  text-align: center;
  margin-top: 4rem;
  color: #a8a8a8;
  font-size: 1.5rem;
}