.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 0.75rem;
  gap: 1rem;
}

.search-input {
  width: 100%;
  max-width: 400px;
  padding: 0.8rem 1.2rem;
  font-size: 1.1rem;
  border: 2px solid #444;
  border-radius: 1.25rem;
  background-color: #333;
  color: white;
  transition: all 0.3s ease;
  outline: none;
}

.search-input::placeholder {
  color: #888;
}

.search-input:focus {
  border-color: #ebc429;
  box-shadow: 0 0 8px rgba(235, 196, 41, 0.3);
  background-color: #2a2a2a;
}

.sorting-btn {
  padding: 1rem;
  font-size: 1rem;
  border: 2px solid #444;
  border-radius: 1.25rem;
  background-color: #333;
  color: #a8a8a8;
  cursor: pointer;
  transition: all 0.3s ease;
  min-width: 5rem;
}

.sorting-btn:hover {
  background-color: #444;
  border-color: #ebc429;
  color: #fff;
}

.sorting-btn:active {
  transform: scale(0.95);
  border-color: #ebc429;
}

.genre-select {
  padding: 1rem;
  font-size: 1rem;
  border: 2px solid #444;
  border-radius: 1.25rem;
  background-color: #333;
  color: #a8a8a8;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  text-transform: capitalize;
}

.genre-select:hover {
  background-color: #444;
  border-color: #ebc429;
  color: #fff;
}

.genre-select:focus {
  border-color: #ebc429;
  background-color: #2a2a2a;
  color: #fff;
}