@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

*::before, *, *::after {
  box-sizing: border-box;
}

html {
  font-family: "Google Sans", sans-serif;
  line-height: 1.5;

  color: #ebe7ef;
  background-color: #2d2c2d;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  min-height: 80rem;
}
